body {
    background-color:gray;
}

.card {
    border: 8px sienna;
    align-content: center;
    width:1400px;
     margin-left: 200px;
     margin-right: 300px;
     margin-top: 8px;
     justify-content: center;
     background-color:lightpink;
}