body {
  background-color: rgb(179, 179, 135);
  padding: 16px;
}

header {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
.jumbotron {
  text-align: center;
}

.display-4 {
  text-align: center;
  font-weight: 600;
}

.card-body {
  background-color: rgb(128, 125, 125);
  text-align: center;
  font-weight: 600;
  padding: 5px;
}

#students {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#student-title {
  font-weight: 600;
  font-size: 30px;
}

#v-army {
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
}

#expelledStudent {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#voldemort-army {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding: 10px;
}
